/* FAQ container */
.faq-container {
    max-width: 1060px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center;
    background-repeat: no-repeat;
  }
  
  /* Title Styling */
  .faq-title {
    text-align: left;
    font-size: 28px;
    font-weight: bold;
    color: #067c70;
    margin-bottom: 30px;
  }
  
  /* Individual FAQ Items */
  .faq-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  
  .faq-item h2 {
    font-size: 18px;
    font-weight: bold;
    color:#067c70;
    margin-bottom: 10px;
  }
  
  .faq-item p {
    font-size: 16px;
    color: black;
    line-height: 1.6;
    text-align: left; /* Align the content to the left */
  }
  
  
  .faq-item ul {
    margin-left: 20px;
    list-style-type: disc;
  }
  
  .faq-item ul li {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .faq-container {
      padding: 15px;
    }
  
    .faq-title {
      font-size: 24px;
    }
  
    .faq-item h2 {
      font-size: 16px;
    }
  
    .faq-item p,
    .faq-item ul li {
      font-size: 14px;
    }
  }
  